<div class="w-100 d-flex justify-content-center py-5 bg">
    <div>
        <h3 class="text-center py-4 ">Our Social Media</h3>
        <div class="social-media   ">
            <a href=""><i class="fab fa-instagram mx-3"></i></a>
            <a href=""><i class="fab fa-facebook mx-3"></i></a>
            <a href=""><i class="fab fa-youtube mx-3"></i></a>
            <a href=""><i class="fab fa-spotify mx-3"></i></a>
            <a href=""><i class="fab fa-soundcloud mx-3"></i></a>
        </div>
    </div>
</div>