<div class="w-75 py-5 m-auto">
    <h4 class="color text-center my-5" *ngIf="errors">email already regitered <br>
        go to <a routerLink="/login" class="login">login</a>
    </h4>
    <form [formGroup]="registerForm" class="my-5 py-5" (ngSubmit)="registeratin()">
        <div class="my-4">
            <input type="text my-2" class="form-control" placeholder="first_name" formControlName="first_name">
            <div class="form-group"
                *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched">
                <p class="color pt-2" *ngIf="registerForm.get('first_name')?.errors?.required">your first_name
                    is required</p>
                <p class="color pt-2" *ngIf="registerForm.get('first_name')?.errors?.maxlength">maxlength is 9
                </p>
                <p class="color pt-2" *ngIf="registerForm.get('first_name')?.errors?.minlength">minlength is 3
                </p>
            </div>
        </div>

        <div class="my-4 ">
            <input type="text my-2" class="form-control" placeholder="last_name" formControlName="last_name">

            <div class="form-group"
                *ngIf="registerForm.get('last_name')?.errors && registerForm.get('last_name')?.touched">
                <p class="color pt-2" *ngIf="registerForm.get('last_name')?.errors?.required">your last_name is
                    required</p>
                <p class="color pt-2" *ngIf="registerForm.get('last_name')?.errors?.maxlength">maxlength is 9
                </p>
                <p class="color pt-2" *ngIf="registerForm.get('last_name')?.errors?.minlength">minlength is 3
                </p>
            </div>
        </div>

        <div class="my-4">
            <input type="number my-2" class="form-control" placeholder="age" formControlName="age">
            <div class="form-group" *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched">
                <p class="color pt-2" *ngIf="registerForm.get('age')?.errors?.required">your age is required</p>
                <p class="color pt-2" *ngIf="registerForm.get('age')?.errors?.max">max is 80</p>
                <p class="color pt-2" *ngIf="registerForm.get('age')?.errors?.min">min is 16</p>
            </div>
        </div>

        <div class="my-4">
            <input type="email my-2" class="form-control" placeholder="email" formControlName="email">
            <div class="form-group" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                <p class="color p-2" *ngIf="registerForm.get('email')?.errors?.required">your email is required
                </p>
                <p class="color pt-2" *ngIf="registerForm.get('email')?.errors?.email">email is invailed</p>

            </div>
        </div>

        <div class="my-4">
            <div class="position-relative">
                <input type="{{types}}" class="form-control" placeholder="password" formControlName="password">
                <i (click)="type()" *ngIf="salsh=='far fa-eye-slash'"  class="far fa-eye-slash position-absolute eye"></i>
                <i (click)="slashForI()" *ngIf="salsh=='far fa-eye'" class="far fa-eye position-absolute eye"></i>
            </div>
            <div class="form-group"
                *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                <p class="color py-2" *ngIf="registerForm.get('password')?.errors?.required">your password is
                    required</p>
                <p class="color py-2" *ngIf="registerForm.get('password')?.errors?.pattern">password is invailed
                </p>

            </div>
        </div>

        <button type="submit" class="btn btn-info" [disabled]="registerForm.invalid">register</button>


    </form>
</div>